body{
    margin: 0;
    font-family:'Jost', sans-serif;
}

header{
    height: 20vh;
    width: 100vw;
    background-color: rgba(217, 217, 217, 0.1);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header a{
    text-decoration: none;
    font-weight: 400;
    font-size: 35px;
    color: #7A7070;
    margin-right: 93px;
}

.active-link{
    color: #3D6FB4;
}

main{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
    height: 100%;
}

section h1{
    font-weight: 400;
    font-size: 70px;
    margin: 0;

}

section p{
    width: 608px;
    height: 209px;
    font-weight: 400;
    font-size: 35px;
}
img{
    height: 63vh;
}

.buttons{
    display: flex;
    justify-content: flex-start;

}

button{
    width: 150px;
    height: 55px;
    border: 1px solid #000000;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    margin-right: 36px;
}

.b1{
    background-color: transparent;
}

.b2{
    background: #ECBCBC;
}

