body{
    margin: 0;
}
.sec1 {
    height: 50vh;
    width: 100vw;
    background: burlywood;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.sec2{
    height: 50vh;
    width: 100vw;
    background: #BAB5B5;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
}
h2{
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
}
p {
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    width: 80vw;
}

/*     width можно задать  и в %  80%*/